@import "../colors";

@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $light;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: lighten($color: $primary_light, $amount: 0);
  }
}
