// primary swatches
$primary_dark: #e57943;
$primary_light: #e57943;

$primary: #e57943;
$secondary: #3b3c37;
$success: #6ec207;

$danger: #f94144;

// secondary swatches
$white: #ffffff;
$light: #f5f5f5;
$dark: #111111;

$grey: #d3d3d3;
$grey1: #808697;
$grey2: #6e6e6e;
$grey3: #343a40;
